<?xml version='1.0' encoding='utf-8'?>
<widget
    id="io.streamtune.tabris.js.sample3"
    version="1.0.0"
    xmlns:gap="http://phonegap.com/ns/1.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
 
    <name>tabris-js-sample4</name>
    <description>
        Sample4
    </description>
    <author email="gianluca@streamtune.io" href="http://www.streamtune.io">
        gi4nks
    </author>
 
    <access origin="*" />
 
    <preference name="EnableDeveloperConsole" value="true"/>
</widget>